body{
    padding-bottom: 400px;
    padding-left: 50px;
    padding-right: 70px;
    padding-top: 70px;

}

.products{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}.item-box{
    border-radius: 2px;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 8px;
    
    
}
.item-box:hover{
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}
.item-box:hover .add-to-cart-btn{
    background-color: orange;
}   
.item-img{
    height: 150px;
}
.item-description{
    font-family: system-ui, -apple-system, 
                BlinkMacSystemFont, 'Segoe UI',
                 Roboto, Oxygen, Ubuntu, Cantarell,
                  'Open Sans', 'Helvetica Neue', 
                  sans-serif;
    font-size: 11px;
}
.discount-price{
    font-family: system-ui, -apple-system, 
                BlinkMacSystemFont, 'Segoe UI',
                 Roboto, Oxygen, Ubuntu, Cantarell,
                  'Open Sans', 'Helvetica Neue', 
                  sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 0;
}
.marked-price{
    display: grid;
    font-family: system-ui, -apple-system, 
                BlinkMacSystemFont, 'Segoe UI',
                 Roboto, Oxygen, Ubuntu, Cantarell,
                  'Open Sans', 'Helvetica Neue', 
                  sans-serif;
    font-size: 13px;
    grid-template-columns: 1fr 1fr;
    margin-top: -8px;
}
.no-discount-price{
    color: gray;
    text-decoration: line-through;
}
.percent-discount{
    color: brown;
}
.rating{
    color: grey;
    display: grid;
    font-family: system-ui, -apple-system, 
                BlinkMacSystemFont, 'Segoe UI',
                 Roboto, Oxygen, Ubuntu, Cantarell,
                  'Open Sans', 'Helvetica Neue', 
                  sans-serif;
    margin-top: -15px;
    
    
}
.checked{
    color: orange;
}
.add-to-cart-btn{
    background-color: white;
    border: none;
    border-radius: 6px;
    color: white;
    font-family: system-ui, -apple-system, 
                BlinkMacSystemFont, 'Segoe UI',
                 Roboto, Oxygen, Ubuntu, Cantarell,
                  'Open Sans', 'Helvetica Neue', 
                  sans-serif;
    font-weight: bold;
    margin-top: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 100%;
    transition: opacity 0.15s, background-color .1s;
}
.add-to-cart-btn:hover{
    cursor: pointer;
    opacity: 0.8;
}
