<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;
            500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/CSS/style.css">
    <title>Jumia Sales</title>
</head>
<body>
    <div class="products">
        <!--Item -->
        <div class="item-box">
             <img src="/images/img-1.jpg" alt="" class="item-img">

            <p class="item-description">
                HP Refurbished HP 100B 20" ALL-in-one
                Dual core 1.6GHz 4GB 500GB...
            </p>
            <p class="discount-price">
                Ksh 17,600
            </p>
            <div class="marked-price">
                <p class="no-discount-price">
                    Ksh 21,600
                </p>
                <p class="percent-discount">-12%</p>
            </div>
            <div class="rating">
                <p><span class="checked">&#9734; &#9734; &#9734; </span>
                    <span class="unchecked">&#9734; &#9734; </span>
                     <span class="number-review">(1)</span>
                    </p>
            </div>
            <button class="add-to-cart-btn">
                ADD TO CART
            </button>
        </div>
        <!--Item -->
        <div class="item-box">
            <img src="/images/img-2.jpg" alt="" class="item-img">

           <p class="item-description">
               HP Refurbished HP 100B 20" ALL-in-one
               Dual core 1.6GHz 4GB 500GB...
           </p>
           <p class="discount-price">
               Ksh 17,600
           </p>
           <div class="marked-price">
               <p class="no-discount-price">
                   Ksh 21,600
               </p>
               <p class="percent-discount">-12%</p>
           </div>
           <div class="rating">
               <p><span class="checked">&#9734; &#9734; &#9734; </span>
                   <span class="unchecked">&#9734; &#9734; </span>
                    <span class="number-review">(1)</span>
                   </p>
           </div>
           <button class="add-to-cart-btn">
               ADD TO CART
           </button>
       </div>
       <!--Item -->
       <div class="item-box">
            <img src="/images/img-3.jpg" alt="" class="item-img">

            <p class="item-description">
                HP Refurbished HP 100B 20" ALL-in-one
                Dual core 1.6GHz 4GB 500GB...
            </p>
            <p class="discount-price">
                Ksh 17,600
            </p>
            <div class="marked-price">
                <p class="no-discount-price">
                    Ksh 21,600
                </p>
                <p class="percent-discount">-12%</p>
            </div>
            <div class="rating">
                <p><span class="checked">&#9734; &#9734; &#9734; </span>
                    <span class="unchecked">&#9734; &#9734; </span>
                        <span class="number-review">(1)</span>
                    </p>
        </div>
        <button class="add-to-cart-btn">
            ADD TO CART
        </button>
        </div>
        <!--Item -->
        <div class="item-box">
             <img src="/images/img-4.jpg" alt="" class="item-img">

            <p class="item-description">
                HP Refurbished HP 100B 20" ALL-in-one
                Dual core 1.6GHz 4GB 500GB...
            </p>
            <p class="discount-price">
                Ksh 17,600
            </p>
            <div class="marked-price">
                <p class="no-discount-price">
                    Ksh 21,600
                </p>
                <p class="percent-discount">-12%</p>
            </div>
            <div class="rating">
                <p><span class="checked">&#9734; &#9734; &#9734; </span>
                    <span class="unchecked">&#9734; &#9734; </span>
                     <span class="number-review">(1)</span>
                    </p>
            </div>
            <button class="add-to-cart-btn">
                ADD TO CART
            </button>
        </div>
        <!--Item -->
        <div class="item-box">
            <img src="/images/img-5.jpg" alt="" class="item-img">

           <p class="item-description">
               HP Refurbished HP 100B 20" ALL-in-one
               Dual core 1.6GHz 4GB 500GB...
           </p>
           <p class="discount-price">
               Ksh 17,600
           </p>
           <div class="marked-price">
               <p class="no-discount-price">
                   Ksh 21,600
               </p>
               <p class="percent-discount">-12%</p>
           </div>
           <div class="rating">
               <p><span class="checked">&#9734; &#9734; &#9734; </span>
                   <span class="unchecked">&#9734; &#9734; </span>
                    <span class="number-review">(1)</span>
                   </p>
           </div>
           <button class="add-to-cart-btn">
               ADD TO CART
           </button>
       </div>
       <!--Item -->
        <div class="item-box">
             <img src="/images/img-6.jpg" alt="" class="item-img">

            <p class="item-description">
                HP Refurbished HP 100B 20" ALL-in-one
                Dual core 1.6GHz 4GB 500GB...
            </p>
            <p class="discount-price">
                Ksh 17,600
            </p>
            <div class="marked-price">
                <p class="no-discount-price">
                    Ksh 21,600
                </p>
                <p class="percent-discount">-12%</p>
            </div>
            <div class="rating">
                <p><span class="checked">&#9734; &#9734; &#9734; </span>
                    <span class="unchecked">&#9734; &#9734; </span>
                     <span class="number-review">(1)</span>
                    </p>
            </div>
            <button class="add-to-cart-btn">
                ADD TO CART
            </button>
        </div>
        <!--Item -->
        <div class="item-box">
            <img src="/images/img-7.jpg" alt="" class="item-img">

           <p class="item-description">
               HP Refurbished HP 100B 20" ALL-in-one
               Dual core 1.6GHz 4GB 500GB...
           </p>
           <p class="discount-price">
               Ksh 17,600
           </p>
           <div class="marked-price">
               <p class="no-discount-price">
                   Ksh 21,600
               </p>
               <p class="percent-discount">-12%</p>
           </div>
           <div class="rating">
               <p><span class="checked">&#9734; &#9734; &#9734; </span>
                   <span class="unchecked">&#9734; &#9734; </span>
                    <span class="number-review">(1)</span>
                   </p>
           </div>
           <button class="add-to-cart-btn">
               ADD TO CART
           </button>
       </div>
       <!--Item -->
       <div class="item-box">
            <img src="/images/img-8.jpg" alt="" class="item-img">

            <p class="item-description">
                HP Refurbished HP 100B 20" ALL-in-one
                Dual core 1.6GHz 4GB 500GB...
            </p>
            <p class="discount-price">
                Ksh 17,600
            </p>
            <div class="marked-price">
                <p class="no-discount-price">
                    Ksh 21,600
                </p>
                <p class="percent-discount">-12%</p>
            </div>
            <div class="rating">
                <p><span class="checked">&#9734; &#9734; &#9734; </span>
                    <span class="unchecked">&#9734; &#9734; </span>
                        <span class="number-review">(1)</span>
                    </p>
            </div>
            <button class="add-to-cart-btn">
                ADD TO CART
            </button>
        </div>
        <div class="item-box">
            <img src="/images/img-9.jpg" alt="" class="item-img">

            <p class="item-description">
                HP Refurbished HP 100B 20" ALL-in-one
                Dual core 1.6GHz 4GB 500GB...
            </p>
            <p class="discount-price">
                Ksh 17,600
            </p>
            <div class="marked-price">
                <p class="no-discount-price">
                    Ksh 21,600
                </p>
                <p class="percent-discount">-12%</p>
            </div>
            <div class="rating">
                <p><span class="checked">&#9734; &#9734; &#9734; </span>
                    <span class="unchecked">&#9734; &#9734; </span>
                        <span class="number-review">(1)</span>
                    </p>
            </div>
            <button class="add-to-cart-btn">
                ADD TO CART
            </button>
        </div>
        <div class="item-box">
            <img src="/images/img-10.jpg" alt="" class="item-img">

            <p class="item-description">
                HP Refurbished HP 100B 20" ALL-in-one
                Dual core 1.6GHz 4GB 500GB...
            </p>
            <p class="discount-price">
                Ksh 17,600
            </p>
            <div class="marked-price">
                <p class="no-discount-price">
                    Ksh 21,600
                </p>
                <p class="percent-discount">-12%</p>
            </div>
            <div class="rating">
                <p><span class="checked">&#9734; &#9734; &#9734; </span>
                    <span class="unchecked">&#9734; &#9734; </span>
                        <span class="number-review">(1)</span>
                    </p>
            </div>
            <button class="add-to-cart-btn">
                ADD TO CART
            </button>
        </div>
        <div class="item-box">
            <img src="/images/img-11.jpg" alt="" class="item-img">

            <p class="item-description">
                HP Refurbished HP 100B 20" ALL-in-one
                Dual core 1.6GHz 4GB 500GB...
            </p>
            <p class="discount-price">
                Ksh 17,600
            </p>
            <div class="marked-price">
                <p class="no-discount-price">
                    Ksh 21,600
                </p>
                <p class="percent-discount">-12%</p>
            </div>
            <div class="rating">
                <p><span class="checked">&#9734; &#9734; &#9734; </span>
                    <span class="unchecked">&#9734; &#9734; </span>
                        <span class="number-review">(1)</span>
                    </p>
            </div>
            <button class="add-to-cart-btn">
                ADD TO CART
            </button>
        </div>
        <div class="item-box">
            <img src="/images/img-12.jpg" alt="" class="item-img">

            <p class="item-description">
                HP Refurbished HP 100B 20" ALL-in-one
                Dual core 1.6GHz 4GB 500GB...
            </p>
            <p class="discount-price">
                Ksh 17,600
            </p>
            <div class="marked-price">
                <p class="no-discount-price">
                    Ksh 21,600
                </p>
                <p class="percent-discount">-12%</p>
            </div>
            <div class="rating">
                <p><span class="checked">&#9734; &#9734; &#9734; </span>
                    <span class="unchecked">&#9734; &#9734; </span>
                        <span class="number-review">(1)</span>
                    </p>
            </div>
            <button class="add-to-cart-btn">
                ADD TO CART
            </button>
        </div>
    </div>
</body>
</html>